.App {
  background-color:rgb(215, 70, 215);
}

/* .App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */

/* .navbar {
  color: whitesmoke;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  color: whitesmoke;
} */
